<ion-header>
  <ion-toolbar>
    <ion-title>Items</ion-title>
  </ion-toolbar>
</ion-header>
<ion-content>
  <ion-list>
    <ion-item *ngFor="let item of items">
      <ion-avatar slot="start">
        <ion-img [src]="item.imageUrl"></ion-img>
      </ion-avatar>
      <ion-label>
        {{item.name}}
      </ion-label>
      <ion-label slot="end">
        ${{item.price}}
      </ion-label>
      <ion-label slot="end">
        {{item.quantity}}
      </ion-label>
      <ion-button [routerLink] = "['./', item.id]">
        Find Out More
      </ion-button>
      <ion-button (click)="onAddCartItem(item)" [routerLink] = "null">
        Add to Cart
      </ion-button>
      <ion-button (click)="onRemoveCartItem(item)" slot="end">
        Remove
      </ion-button>
    </ion-item>
    
    <ion-item class="ion-text-center" [routerLink] = "['./checkout']">
      <ion-button slot="end">
        <ion-label>
          Proceed to Checkout
        </ion-label>
      </ion-button>
    </ion-item>
  </ion-list>
</ion-content>
